.row.restaurant
  .col-md-3
    %h1= @restaurant.name
    %p
      Address:
      = @restaurant.address
    =link_to "back", root_path, class: "btn btn-primary"
    =link_to "Edit", edit_restaurant_path, class: "btn btn-primary"
    =link_to "Delete", restaurant_path, method: :delete, data: { confirm: "Sure?" }, class: "btn btn-primary"
  .col-md-9
    %p.restaurant-description= @restaurant.description
.row.restaurant
  .col-md-12
    .restaurant-header
      %h2 Your mind is important, do you like this?
    %hr

    %form
      %fieldset.form-group
        %label Author
        %input.form-control
      %fieldset
        %label Content
        %textara.form-control
      %br
      %button.btn.btn-primary Submit

    %hr

    %ul.comments
      %li
      .one-comment
        %p= react_component('Comment', {author: "Alexander", body: "Marfa PBR&B normcore, pickled cornhole mixtape etsy. Banjo ramps slow-carb 3 wolf moon, blue bottle tacos offal kinfolk waistcoat craft beer cold-pressed fingerstache master cleanse tofu. Meditation try-hard sustainable, sriracha yr tilde photo booth.", rank: 11})
      %li
      .one-comment
        %p= react_component('Comment', {author: "Barabashka", body: "Chillwave jean shorts health goth, distillery you probably haven't heard of them artisan banjo selfies farm-to-table. Next level blue bottle ennui waistcoat biodiesel, umami thundercats readymade PBR&B celiac chillwave chia. Sartorial direct tra", rank: 5})
      %ul
        %li
          .one-comment
          %p= react_component('Comment', {author: "Lahudra", body: "Yeah man, I love thisYeah man, I love thisYeah man, I love thisYeah man, I love thisYeah man, I love thisYeah man, I love thisYeah man, I love thisYeah man, I love thisYeah man, I love thisYeah man, I love thisYeah man, I love this", rank: 0})
